.introduction {
    padding: 10% 0 10% 3%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-image {
    display: flex;
}

.profile-image {
    width: 100%;
}

.intro-text {
    flex: 1;
    max-width: 60%;
    text-align: left;
    text-align: justify;
}

.intro-text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 12% 0 0;
}

.intro-title {
    font-size: 1.5em;
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007BFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

